@font-face { font-family: franklin; src: url('./fonts/franklin-normal-600.ttf'); }
@font-face { font-family: franklin-small; src: url('./fonts/franklin-small-normal-500.ttf'); }
@font-face { font-family: museo-100; src: url('./fonts/MuseoSans-100.otf'); }
#algname {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button {
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
    border: none;
    border-radius: 4px;
    background-color: #abccdb;
    font-size: 13;
    font-family: franklin;
}
button:hover {
    background-color: #5d7e8f;
    color: white;
}
body {
    font-size: 15;
    line-height: 2;
    font-family: franklin;
} 

input {
    line-height: 1.5;
    font-family: franklin-small;
    width: 300px;
}

svg {
    border-style: solid;
    border-width: 0.1;
}
