<meta charset='utf-8'>
<script src="https://d3js.org/d3.v5.min.js?v"></script>
<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<body>
    Input function: <input id='finput'></input>
    <button id='submit_fn'>Submit</button><br>
    Input initializations: <input id='vinput'></input>
    <button id='submit'>Submit</button><br>
    <div id='vis'></div>
</body>
<script>

// INITIAL SETTINGS
var buf = 15;
var ww = window.innerWidth;
var wh = window.innerHeight;
var displaysz = {
    'width': ww-buf,
    'height': wh-buf
}
var container = d3.select('#vis').append('svg')
    .attr('height', wh)
    .attr('width', ww);
var color = d3.scaleLinear()
    .domain(-5, 5)
    .interpolate(function() { return d3.interpolateYlGnBu; });
var thresholds = d3.range(-5, 5, 0.5);

d3.select('#submit_fn')
    .on('click', function() {
        var fVal = d3.select('#finput').property('value');
        //var vVal = d3.select('#vinput').property('value');
        //var datapkg = fVal.concat('#', vVal);
        $.ajax({
            url: '/input_fn',
            type: 'POST',
            data: fVal,
            success: function(d) {
                display(d);
            },
            error: function(e) { console.log(e); }
        });
    });

d3.select('#submit')
    .on('click', function() {
        var fVal = d3.select('#finput').property('value');
        //var vVal = d3.select('#vinput').property('value');
        //var datapkg = fVal.concat('#', vVal);
        $.ajax({
            url: '/input',
            type: 'POST',
            data: fVal,
            success: function(d) {
                draw(d);
            },
            error: function(e) { console.log(e); }
        });
    });

function display(d) {
    var contours = d3.contours()
        .size([ww, wh])
        .thresholds(thresholds);
    var path = container.selectAll("path")
        .data(contours(d));
    path.enter().append("path")
        .attr("d", d3.geoPath(d3.geoIdentity().scale(ww / ww)))
        .attr("fill", function(d) { return color(d.value); })
        .attr("stroke", "none");
    console.log(path);


}


</script>
