<meta charset='utf-8'>
<script src="https://d3js.org/d3.v5.min.js?v"></script>
<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
<script src="https://d3js.org/d3-contour.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}"/>
<body>
    Input function: <input id='finput'></input>
    <button id='submit_fn'>Submit</button><br><br><hr><br>
    <div id='vis'></div><br><br>
    <button id='zoomout'>zoom out</button>
    <button id='zoomin'>zoom in</button>
    <button id='inres'>increase res</button>
    <button id='decres'>decrease res</button>
</body>
<script>

var height = 600;
var width = 600;
var zoom = 1;
var x = d3.scaleLinear([-1*zoom, zoom], [0, width])
var y = d3.scaleLinear([-1*zoom, zoom], [height, 0])
var line = d3.line()
    .x(function(d) { return d.x; })
    .y(function(d) { return d.y; });
var svg = d3.select("#vis").append("svg")
    .attr("width", width)
    .attr("height", height)
var drawing_time = 30;
var f_saved = '';
var q = 10;

d3.select('#submit_fn')
    .on('click', function() {
        var fVal = d3.select('#finput').property('value');
        $.ajax({
            url: '/input_fn',
            type: 'POST',
            data: fVal,
            success: function() {
                f_saved = fVal;
                display(fVal);
            },
            error: function(e) { console.log(e); }
        });
    });

d3.select('#zoomout')
    .on('click', function() {
        zoom *= 1.5;
        x = d3.scaleLinear([-1*zoom, zoom], [0, width])
        y = d3.scaleLinear([-1*zoom, zoom], [height, 0])
        display(f_saved);
    });
d3.select('#zoomin')
    .on('click', function() {
        zoom /= 1.5;
        x = d3.scaleLinear([-1*zoom, zoom], [0, width])
        y = d3.scaleLinear([-1*zoom, zoom], [height, 0])
        display(f_saved);
    });
d3.select('#inres')
    .on('click', function() {
        q /= 1.5;
        display(f_saved);
    });
d3.select('#decres')
    .on('click', function() {
        q *= 1.5;
        display(f_saved);
    });

function initialize() {
    var pos = d3.mouse(this);
    pos[0] = x.invert(pos[0]);
    pos[1] = y.invert(pos[1]);
    var datapkg = pos.toString();
    $.ajax({
        url: '/input',
        type: 'POST',
        data: datapkg,
        success: function(d) { runAlgs(d); },
        error: function(e) { console.log(e); }
    });
}

function drawPath(path_data, algname) {
    var path = svg.append("path")
        .attr("d", line(path_data))
        .attr("stroke", "darkgrey")
        .attr("stroke-width", "3")
        .attr("fill", "none")
        .attr("class", "algpath")
        .on("mouseover", function() {
            d3.select(this).attr("stroke", "black");
            var pos = d3.mouse(this);
            svg.append('text')
                .attr('x', pos[0])
                .attr('y', pos[1])
                .attr('id', 'algname')
                .text(algname == 'GDm' ? 'GD with momentum' : algname);
        })
        .on("mouseout", function() {
            d3.select(this).attr("stroke", "darkgrey");
            d3.select('#algname').remove();
        })
    var totalLength = path.node().getTotalLength();
    path
        .attr("stroke-dasharray", totalLength + " " + totalLength)
        .attr("stroke-dashoffset", totalLength)
        .transition()
            .duration(4000)
            .ease(d3.easeLinear)
            .attr("stroke-dashoffset", 0)
}

function runAlgs(d) {
    d3.selectAll('.algpath').remove();
    var data = JSON.parse(d);
    var pivot = {};
    for (var a in data) {
        pivot[a] = [];
        var alg = data[a];
        var xs = alg.x;
        var ys = alg.y;
        var t = alg.t;
        for (var i = 0; i < 999; i++)
            pivot[a].push({'x': x(xs[i]), 'y': y(ys[i])});
    }
    for (var a in data) drawPath(pivot[a], a);
}


function display(f) {
    var js_f = 'return '.concat(f);
    var value = new Function('x', 'y', js_f);
    d3.selectAll('svg').remove();
    svg = d3.select("#vis").append("svg")
        .attr("width", width)
        .attr("height", height)
        .on('click', initialize);
    var x0 = -q / 2, x1 = width + q;
    var y0 = -q / 2, y1 = height + q;
    var n = Math.ceil((x1 - x0) / q);
    var m = Math.ceil((y1 - y0) / q);
    var grid = new Array(n * m);
    var fmax = -1 * Infinity;
    var fmin = Infinity;
    for (let j = 0; j < m; ++j) {
        for (let i = 0; i < n; ++i) {
            var val = value(x.invert(i * q + x0), y.invert(j * q + y0));
            grid[j * n + i] = val;
            if (val < fmin) fmin = val;
            if (val > fmax) fmax = val;
        }
    }
    grid.x = -q;
    grid.y = -q;
    grid.k = q;
    grid.n = n;
    grid.m = m;
    var transform = ({type, value, coordinates}) => {
        return {type, value, coordinates: coordinates.map(rings => {
            return rings.map(points => {
                return points.map(([x, y]) => ([
                    grid.x + grid.k * x,
                    grid.y + grid.k * y
                ]));
            });
        })};
    }
    var thresholds = d3.range(fmin, fmax);
    var color = d3.scaleLinear()
        //.interpolate(d3.interpolateHcl)
        .domain([fmin, fmax])
        .range([d3.rgb('#3b61eb'), d3.rgb('#eb4034')])
    var xAxis = g => g
        .attr("transform", `translate(0,${height})`)
        .call(d3.axisTop(x).ticks(width / height * 10))
        .call(g => g.select(".domain").remove())
        .call(g => g.selectAll(".tick").filter(d => x.domain().includes(d)).remove())
    var yAxis = g => g
        .attr("transform", "translate(-1,0)")
        .call(d3.axisRight(y))
        .call(g => g.select(".domain").remove())
        .call(g => g.selectAll(".tick").filter(d => y.domain().includes(d)).remove());

    var cont = svg.append("g")
        .attr("fill", "none")
        .attr("stroke", "#fff")
        .attr("stroke-opacity", 0.5)
    var contours = d3.contours()
        .size([grid.n, grid.m])
        .thresholds(thresholds)
    (grid)
        .map(transform);
    svg.append("g")
        .attr("fill", "none")
        .attr("stroke", "#fff")
        .attr("stroke-opacity", 0)
        .selectAll("path")
        .data(contours)
        .join("path")
        .attr("fill", d => color(d.value))
        .attr("d", d3.geoPath());
    svg.append("g")
        .call(xAxis);
    svg.append("g")
        .call(yAxis);
    console.log("rendered");


}


</script>
